@{
    ViewBag.Title = "Acts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumbs">
    <div class="container-fluid">

        <ol>
            <li><a href="#">Home >></a></li>
            <li><a href="#">About US >></a></li>
            <li>Acts & Rules</li>
        </ol>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Main Body Start ======= -->
<section class="act-body">

    <div class="container">
        <div class="row cont-margin">

            <div class="col-lg-8 col-md-6 mt-5 mt-md-0">
                <h4 style="text-decoration:underline">Acts & Rules</h4><br />
                <p>
                    <i class="icofont-download"></i>
                    <a href="~/pdf/New_VTP_Gaudline.pdf" class="a-style">Guideline Part A</a>
                </p>
                <p>
                    <i class="icofont-download"></i>
                    <a href="~/pdf/NEW_Guideline_MMKVY.pdf" class="a-style">Guideline Part B</a>
                </p>

            </div>

        </div>
    </div>

</section>
