
@{
    ViewBag.Title = "Courselist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumbs">
    <div class="container-fluid">

        <ol>
            <li><a href="../HomePage.aspx">Home >></a></li>
            <li><a href="#">About US >></a></li>
            <li>Acts & Rules</li>
        </ol>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Main Body Start ======= -->
<section class="act-body">

    <div class="container-fluid" style="padding:0 5rem">
        <div class="row ">

            <div class="col-lg-12 col-md-6 mt-5 mt-md-0">
                <h4 style="text-decoration:underline">Course List</h4><br />

                <div class="table table-responsive">
                    <table class="table table-responsive">
                        <thead style="background-color:#01458e; font-size:0.9rem; font-weight:bold;">
                            <tr style="color:#ffffff; text-align:center">

                                <td>Sr.No</td>
                                <td>Sector</td>
                                <td>Course Code</td>
                                <td>Course Name</td>
                                <td>NSQF Level</td>
                                <td>QP File</td>
                                <td>Modal <br /> Curriculum</td>
                            </tr>

                        </thead>
                        <tbody style="text-align:center;font-size:0.9rem; color:dimgrey; font-weight:bold; vertical-align:middle;">
                            <tr>
                                <td>1</td>
                                <td>Apparel Made-Ups & Home Furnishing</td>
                                <td>AMH/Q1947</td>
                                <td>Self Employed Tailor</td>
                                <td>4</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/AMHQ1947_Self%20Employed_Tailor_Version1_30_05_2019.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC_AMH-Q1947_Self-Employed-Tailor.pdf"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Apparel Made-Ups & Home Furnishing</td>
                                <td>AMH/Q0301</td>
                                <td>Sewing Machine Operator</td>
                                <td>4</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/AMHQ0301_Sewing_Machine_Operator_Version1_30_05_2019.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC_AMHQ0301%2C_Sewing%20machine%20operator_V1.0_16-07-2019.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Apparel Made-Ups & Home Furnishing</td>
                                <td>AMH/Q0305</td>
                                <td>Sewing Machine Operator- Knits</td>
                                <td>4</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/AMHQ0305_Sewing_Machine_Operator_Knits_Version1_30_05_2019.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC_AMHQ0305_Sewing%20machine%20operator-knits_V1.0_16-07-2019.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>


                            <tr>
                                <td>4</td>
                                <td>Automotive</td>
                                <td>ASC/Q1411</td>
                                <td>Automotive Service Technician (Two and Three Wheelers)</td>
                                <td>4</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/QP_ASC-Q1411_Automotive-Service-Technician-%28Two-and-Three-Wheelers%29.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC-ASC-Q1411-Automotive-service-technician-Two-and-Three-wheelers-V2-30-05-17.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>

                            <tr>
                                <td>5</td>
                                <td>Automotive</td>
                                <td>ASC/Q1401</td>
                                <td>Automotive Service Technician Level 3</td>
                                <td>3</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/QP_ASC-Q1401_Automotive-Service-Technician-Level-3.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC_Rev_ASC-Q1401_Automotive-Service-Technician-Level-3_31.10.2017.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Automotive</td>
                                <td>ASC/Q1402</td>
                                <td>Automotive Service Technician Level 4</td>
                                <td>4</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/QP_ASCQ1402_Auto_Service_Technician_Level_4_V1_12_10_2018.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC_ASCQ1402_Auto_Service_Technician_Level_4_11_09_2018.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Automotive</td>
                                <td>ASC/Q9702</td>
                                <td>Light motor Vehicle Driver Level 3</td>
                                <td>3</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/ASCQ9702_Light_Motor_Vehicle_Driver_Level%203_v1_03_08_2018.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC-ASCQ9702-Light-Motor-Vehicle-Driver-Level%203-03-08-2018.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Automotive</td>
                                <td>ASC/Q9705</td>
                                <td>Taxi Driver</td>
                                <td>4</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/QP_ASC-Q9705_Taxi-Driver.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/QP_ASC-Q9705_Taxi-Driver.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Beauty & Wellness</td>
                                <td>BWS/Q0102</td>
                                <td>Beauty Therapist (Version 2)</td>
                                <td>4</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/BWSQ0102_Beauty_Therapist_v2_06_03_2019.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC_BWSQ0102_V2.0_Beauty%20Therapist_23.10.2018.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Construction</td>
                                <td>CON/Q0602</td>
                                <td>Assistant Electrician</td>
                                <td>3</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/QP_CON-Q0602_Assistant-Electrician-.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC_Rev_CON-Q0602_Assistant-Electrician_20-07-2017.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Construction</td>
                                <td>CON/Q0103</td>
                                <td>Mason General</td>
                                <td>4</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/QP_CON-Q0103_Mason-General.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC_Rev_CON-Q0103_Mason-General_20-07-2017.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Construction</td>
                                <td>CON/Q3603</td>
                                <td>Rural Mason</td>
                                <td>4</td>
                                <td><a href="http://www.csdcindia.org/wp-content/uploads/2017/08/QP-Rural-Mason.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="http://www.csdcindia.org/wp-content/uploads/2017/08/New-Model-Curriculum-Rural-Mason-1.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Electronics & Hardware</td>
                                <td>ELE/Q4601</td>
                                <td>Field Technician Computing and Peripherals</td>
                                <td>4</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/QP_ELE-Q4601_Field-Technician-Computing-and-Peripherals_0.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC_Rev_Hrs_ELEQ4601_Field_Technician_Computing_and_Peripherals_03.05.2018.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>Electronics & Hardware</td>
                                <td>ELE/Q3104</td>
                                <td>Field Technician Other Home Appliances</td>
                                <td>4</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/ELEQ3104_Field_Technician_Other_Home_Appliances_v1_03_07_2019.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/Rev_MC_ELE%20Q3104_FT_Other_Home_Appliances_12-09-2017.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>Electronics & Hardware</td>
                                <td>ELE/Q8104</td>
                                <td>Mobile Phone Hardware Repair Technician</td>
                                <td>4</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/QP_ELE-Q8104_Mobile-Phone-Hardware-Repair-Technician.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC_Rev_ELEQ8104_Mobile_Phone_Hardware_Repair_Technician_20.06.2018.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>Furniture & Fittings</td>
                                <td>FFS/Q0103</td>
                                <td>Assistant Carpenter-Wooden Furniture</td>
                                <td>3</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/FFSQ0103%20_Assistant_Carpenter_Wooden_Furniture_v1_04_09_2018.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC-FFSQ0103-Assistant-Carpenter-Wooden-Furniture-01-02-2018.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>Healthcare</td>
                                <td>HSS/Q8601</td>
                                <td>Front Line Health Worker</td>
                                <td>3</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/QP-HSS-Q8601_Frontline_Health_Worker_V1-16-6-17.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC_Rev_HSS-Q8601_Frontline-Health-Worker_25-07-2017.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>Healthcare</td>
                                <td>HSS/Q5101</td>
                                <td>General Duty Assistant</td>
                                <td>4</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/QP_HSS-Q5101_General-Duty-Assistant.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC_HSS-Q5101_General-Duty-Assistant.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>IT-ITeS</td>
                                <td>SSC/Q2201</td>
                                <td>Associate-Customer Care (Non-Voice)</td>
                                <td>5</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/QP_SSC-Q2201_Associate-Customer-Care-%28Non-Voice%29.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC_SSCQ2201_Associate_Customer_Care_Non_Voice_12_09_2018.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>IT-ITeS</td>
                                <td>SSC/Q2212</td>
                                <td>Domestic Data entry Operator</td>
                                <td>4</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/QP_SSC-Q2212_Domestic-Data-entry-Operator.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC_Corrected_SSCQ2212_V1.0_Domestic%20Data%20Entry%20Operator_31.10.2018.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>Plumbing</td>
                                <td>PSC/Q0104</td>
                                <td>Plumber (General)</td>
                                <td>3</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/QP_PSC-Q0104_Plumber-%28General%29.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC_Rev_Hrs_PSCQ0104_Plumber_General_30.04.2018.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                            <tr>
                                <td>22</td>
                                <td>Plumbing</td>
                                <td>PSC/Q0102</td>
                                <td>Plumber General (Assistant)</td>
                                <td>2</td>
                                <td><a href="https://nsdcindia.org/sites/default/files/PSCQ0102_Plumber_%28General%29_Assistant_v1_01_07_2019.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#43A047 !important;"></i></a> </td>
                                <td><a href="https://nsdcindia.org/sites/default/files/MC_PSC-Q0102_Plumber-General-%28Assistant%29.pdf" target="_blank"><i class='bx bxs-file-pdf' style="font-size:2.5rem; color:#F57C00 !important;"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</section>

