
@{
    ViewBag.Title = "Galary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumbs">
    <div class="container-fluid">

        <ol>

            <li><a href="#" class="img-effect">Galary</a></li>

        </ol>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Main Body Start ======= -->

<section class="act-body gallery">
    <div class="container-fluid">
        <div class="row cont-margin">
            <h4>Photo Galary</h4>
        </div>

        <div class="row cont-margin">

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Balod/main building College4.jpg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Balod</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Balodabazar/lcbalaudabazar.jpeg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Balodabazar</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Balrampur/lcbalrampur.jpg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Balrampur</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Bastar/lcbastar.jpeg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Bastar</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Bemetara/lcBemetara.jpg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Bemetara</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Bijapur/College Building 1.jpg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Bijapur</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Bilaspur/College Building 1.jpeg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Bilaspur</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Dantewada/College Building 4.jpg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Dantewada</h6>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Dhamtari/college build/front.jpg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Dhamrati</h6>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Gariyaband/bce9c995-d5c3-472a-9d4f-c8e511f5ed4f.jpg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Gariyaband</h6>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Janjgir-Champa/College Building 2.jpeg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Janjgir-Champa</h6>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Jashpur/College building dplc Jashpur 3 IMG-20200825-WA0023.jpg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Jashpur</h6>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Kabirdham/College Building IMG_20200818_160050.jpg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Kabirdham</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Kanker/lhc-4.jpg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Kanker</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Kondagaon/Livelihood6.jpg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Kondagaon</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Korba/Korba College Building 1.jpeg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Korba</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="#" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Koriya</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Mahasamund/College Building/IMAGE01 (4).jpeg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Mahasamund</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="#" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Mungeli</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Narayanpur/Livelihood College Bhawan.jpg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Narayanpur</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Raigarh/College Building 2.jpg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Raigarh</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Raipur/livelihood college.jpg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Raipur</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Rajnandgaon/College Building 3.jpg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Rajnandgaon</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Sukma/livelihood building  (4).jpg" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Sukma</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="#" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Surajpur</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-4 set-10-margin">
                <a href="#" class="img-effect">
                    <div class="card gc-div">
                        <div class="card-body gc-body">
                            <img src="~/lcimg/Surguja/College Building 2.png" class="mx-auto d-block rounded" />

                        </div>
                        <div class="card-footer gc-footer">
                            <h6>Surguja</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>

