@{
    ViewBag.Title = "Hod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumbs">
    <div class="container-fluid">

        <ol>
            <li><a href="#">Home >></a></li>
            <li><a href="#">Contact >></a></li>
            <li>Officers</li>

        </ol>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Main Body Start ======= -->
<section class="act-body contact">

    <div class="container-fluid">
        <div class="row cont-margin">
            <h2 class="heading2 mb-50 text-center">Officers</h2>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4">


                <!-- ======= Minister======= -->
                <div class="row mb-30">
                    <div class="col-lg-12">
                        <div class="card border-left-primary shadow  py-2 contact-scard">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    @*<div class="col-4">
                                        <figure class="srow minst_info"><img src="~/img/male.png" class="contact-set-img" /></figure>
                                    </div>*@
                                    <div class="col-12">
                                        <h3 class="heading-h3">Shri. Umesh Patel</h3>
                                        <p class=" contact-set-divdesig">
                                            Hon’ble Minister, Government of Chhattisgarh,<br />
                                            Department of Skill Development, Technical Education, Employment & Training,<br/> Higher Education, Science and technology, Sports and Youth Welfare
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ======= Secretary ======= -->
                <div class="row mb-30">
                    <div class="col-lg-12">
                        <div class="card border-left-primary shadow  py-2 contact-scard">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    @*<div class="col-4">
                                        <figure class="srow minst_info"><img src="~/img/male.png" class="contact-set-img" /></figure>
                                    </div>*@
                                    <div class="col-12">
                                        <h3 class="heading-h3">Dr. Alok Shukla, IAS</h3>
                                        <p class=" contact-set-divdesig">Principal Secretary</p>
                                        <p class=" contact-set-divdesig">Department of Skill Development, Technical Education, Employment & Training
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-30">
                    <div class="col-lg-12">
                        <div class="card border-left-primary shadow  py-2 contact-scard">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    @*<div class="col-4">
                                        <figure class="srow minst_info"><img src="~/img/male.png" class="contact-set-img" /></figure>
                                    </div>*@
                                    <div class="col-12">
                                        <h3 class="heading-h3">Dr. C.R. Prasanna, IAS</h3>
                                        <p class=" contact-set-divdesig">Secretary </p>
                                        <p class=" contact-set-divdesig">Department of Skill Development</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ======= CEO ======= -->
                <div class="row mb-30">
                    <div class="col-lg-12">
                        <div class="card border-left-primary shadow  py-2 contact-scard">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    @*<div class="col-4">
                                        <figure class="srow minst_info"><img src="~/img/male.png" class="contact-set-img" /></figure>
                                    </div>*@
                                    <div class="col-12">
                                        <h3 class="heading-h3">Shri. Awanish Kumar Sharan, IAS</h3>
                                        <p class=" contact-set-divdesig">Chief Executive Officer</p>
                                        <p class=" contact-set-divdesig">State Project Livelihood College Society (SPLCS)</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-30">
                    <div class="col-lg-12">
                        <div class="card border-left-primary shadow  py-2 contact-scard">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    @*<div class="col-4">
                                        <figure class="srow minst_info"><img src="~/img/male.png" class="contact-set-img" /></figure>
                                    </div>*@
                                    <div class="col-12">
                                        <h3 class="heading-h3">Ar. Arvind K. Ahirwar</h3>
                                        <p class=" contact-set-divdesig">Additional Chief Executive Officer</p>
                                        <p class=" contact-set-divdesig">State Project Livelihood College Society (SPLCS)</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-30">
                    <div class="col-lg-12">
                        <div class="card border-left-primary shadow  py-2 contact-scard">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    @*<div class="col-4">
                                        <figure class="srow minst_info"><img src="~/img/male.png" class="contact-set-img" /></figure>
                                    </div>*@
                                    <div class="col-12">
                                        <h3 class="heading-h3">Shri. Vivek Kumar Mishra</h3>
                                        <p class=" contact-set-divdesig">Joint. Director (Finance) </p>
                                        <p class=" contact-set-divdesig">State Project Livelihood College Society (SPLCS)</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ======= Dy. CEO ======= -->
                <div class="row mb-30">
                    <div class="col-lg-12">
                        <div class="card border-left-primary shadow  py-2 contact-scard">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    @*<div class="col-4">
                                        <figure class="srow minst_info"><img src="~/img/male.png" class="contact-set-img" /></figure>
                                    </div>*@
                                    <div class="col-12">
                                        <h3 class="heading-h3">Shri. Pramod Kumar Sahu</h3>
                                        <p class=" contact-set-divdesig">Deputy Chief Executive Officer </p>
                                        <p class=" contact-set-divdesig">State Project Livelihood College Society (SPLCS)</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-30">
                    <div class="col-lg-12">
                        <div class="card border-left-primary shadow  py-2 contact-scard">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    @*<div class="col-4">
                                        <figure class="srow minst_info"><img src="~/img/male.png" class="contact-set-img" /></figure>
                                    </div>*@
                                    <div class="col-12">
                                        <h3 class="heading-h3">Shri. Meemo Prasad Banjare</h3>
                                        <p class=" contact-set-divdesig">Deputy Chief Executive Officer</p>
                                        <p class=" contact-set-divdesig">State Project Livelihood College Society (SPLCS)</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

