
@{
    ViewBag.Title = "LcContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumbs">
    <div class="container-fluid">

        <ol>
            <li><a href="#">Home >></a></li>
            <li><a href="#">Contact >></a></li>

            <li>LC-Contact</li>

        </ol>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Main Body Start ======= -->
<section class="act-body lc-contact">

    <div class="container-fluid">
        <div class="row cont-margin">
            <h4 style="text-decoration:underline">Livelihood College Contacts</h4>
        </div>

        <!-- ======= Bastar Division ======= -->
        <div class="row cont-margin">
            <div class="row"> <h6 style="font-weight:bold">Bastar Division</h6> </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Dantewada</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">KRITESH HIRWANI (Principal)</p>
                                    <p class=" contact-set-divdesig">Ph no- 8962262112</p>
                                    <p class=" contact-set-divdesig"> Email- livelihoodcollege@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Sukma</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">SATYAJEET PISDA (AD)</p>
                                    <p class=" contact-set-divdesig">Ph no- 7864284018</p>
                                    <p class=" contact-set-divdesig"> Email- cssda.sukma@gmail.com </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Bijapur</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">AKHIL DEEP SONI (Principal)</p>
                                    <p class=" contact-set-divdesig">Ph no- 9827959059</p>
                                    <p class=" contact-set-divdesig"> Email- dplcbijapur2017@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Bastar</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">SUHAS PATEL (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 8349590320</p>
                                    <p class=" contact-set-divdesig"> Email- cssdmbastar@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Kondagaon</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">PUNESHWAR VERMA (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 8103101595</p>
                                    <p class=" contact-set-divdesig"> Email- livelihoodcollegekgn@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Kanker</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">SUNIL KUMAR NETAM (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 7587399343</p>
                                    <p class=" contact-set-divdesig"> Email- livelihoodkanker@gmail.com, dplcs.kanker-cg@gov.in</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Narayanpur</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">CHANDRA SHAH (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 8236931414</p>
                                    <p class=" contact-set-divdesig"> Email- cssdm.narayanpur@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>



        <!-- ======= Raipur Division ======= -->
        <div class="row cont-margin">
            <div class="row">  <h6 style="font-weight:bold">Raipur Division</h6> </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/female.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Raipur</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">RICHA PATHAK (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 8461960359</p>
                                    <p class=" contact-set-divdesig"> Email- raipurdplc2015@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Dhamtari</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">
                                        SURENDRE GOSWAMI (AD)
                                        SANDIP KUAMR GONNAGE (APO)
                                    </p>
                                    <p class=" contact-set-divdesig">
                                        Ph no- 9424220107 (AD)
                                        8269423273(APO)
                                    </p>
                                    <p class=" contact-set-divdesig"> Email- llivedmt@gmail.com, livelihood-dmt.cg@gov.in</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/female.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Gariabandh</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">SRISHTI SHARMA (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 8962774917</p>
                                    <p class=" contact-set-divdesig"> Email- cssdmgariyaband@gmail.com, lcgariaband@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/female.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Mahasamund</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">PRANITA TAMBOLI (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 8871530603</p>
                                    <p class=" contact-set-divdesig"> Email- dplc-msd.cg@gov.in, dplc.mahasamund@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Balodabazar</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">ANIL KUMAR PRADHAN(APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 9827943099</p>
                                    <p class=" contact-set-divdesig"> Email- dplcs.balodabazar@gmail.com, pallavisingh@igniteeducatin.in</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- ======= Bilaspur Division ======= -->
        <div class="row cont-margin">
            <div class="row"> <h6 style="font-weight:bold">Bilaspur Division</h6> </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Bilaspur</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">UMAKANT PATEL (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 9302739827</p>
                                    <p class=" contact-set-divdesig"> Email- dplcbsp@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Korba</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">ARUNENDRA KUMAR MISHRA (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 9981299943</p>
                                    <p class=" contact-set-divdesig"> Email- livelihood.korba@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/female.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Raigarh</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">ROMA KAWRE (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 7587322781</p>
                                    <p class=" contact-set-divdesig"> Email- rlcraigarh@gmail.com, aporaigarhrlc@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Janjgir-Champa</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">RAJESH NAMDEV (Office Assistant)</p>
                                    <p class=" contact-set-divdesig">
                                        Ph no- 9907062109
                                        9584032874
                                    </p>
                                    <p class=" contact-set-divdesig"> Email- janjgircssda@gmail.com, janjgirdplc@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/female.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Mungeli</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">NIKHAT QUIRAISHI (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 7879023080</p>
                                    <p class=" contact-set-divdesig"> Email- dplc.mungeli@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- ======= Durg Division ======= -->
        <div class="row cont-margin">
            <div class="row"> <h6 style="font-weight:bold">Durg Division</h6> </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Durg</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">Dr B MUKHOPADYAY (AD)</p>
                                    <p class=" contact-set-divdesig">Ph no- 7882210521</p>
                                    <p class=" contact-set-divdesig"> Email- cssdadurg@gmail.com, devender.singh@icicifoundation.org</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Kabirdham</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">DIVAKAR DWIVEDI (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 9907760601</p>
                                    <p class=" contact-set-divdesig"> Email- deokawardha@gmail.com, dplckawardha@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/female.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Balod</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">KU. YAMINI (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 9406296636</p>
                                    <p class=" contact-set-divdesig"> Email- dplc.balod@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Bemetara</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">ROSHAN LAL VERMA (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 8103657922</p>
                                    <p class=" contact-set-divdesig"> Email- bemetara.livelihood@gmail.com, livelihood-bmt.cg@gov.in</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Rajnandgaon</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">DEVENDRA KUMAR (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 9827488122</p>
                                    <p class=" contact-set-divdesig"> Email- livelihoodrjn@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- ======= Sarguja Division ======= -->
        <div class="row cont-margin">
            <div class="row">  <h6 style="font-weight:bold">Sarguja Division</h6> </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Sarguja</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">AKRAM KHAN (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 9713222444</p>
                                    <p class=" contact-set-divdesig"> Email- principallhcambikapur@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Jashpur</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">AMARNATH DHAMGAYA (Principal)</p>
                                    <p class=" contact-set-divdesig">Ph no- 7049790009</p>
                                    <p class=" contact-set-divdesig"> Email- dplcjashpur@gmail.com, jashpur.cssdm@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Surajpur</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;"> DINESH KUMAR(APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 8435945006</p>
                                    <p class=" contact-set-divdesig"> Email- dplc-surajpur.cg.gov.in, cssdm.surajpur@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/male.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Koria</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">VIKRAM KUMAR (Principal)</p>
                                    <p class=" contact-set-divdesig">Ph no- 8959482284</p>
                                    <p class=" contact-set-divdesig"> Email- dplc.korea@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 set-20-margin">
                    <div class="card border-left-primary shadow  py-2 contact-scard">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-4">
                                    <img src="~/img/female.png" class="contact-set-img" />
                                </div>
                                <div class="col-8">
                                    <h6>Livelihood College Balrampur</h6>
                                    <p class="contact-set-divheading" style="font-weight:bold;">DIVYA DEWANGAN (APO)</p>
                                    <p class=" contact-set-divdesig">Ph no- 9827993070</p>
                                    <p class=" contact-set-divdesig"> Email- dplcbalrampur@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

