
@{
    ViewBag.Title = "Programs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumbs">
    <div class="container-fluid">

        <ol>
            <li><a href="#">Home >></a></li>
            <li><a href="#">About US >></a></li>
            <li>Programme & Schemes</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Main Body Start ======= -->
<section class="act-body">

    <div class="container">
        <div class="row cont-margin">

            <div class="col-lg-12 col-md-12 mt-5 mt-md-0">
                <h4 style="text-decoration:underline">Programmes and Schemes</h4>

                <br />
                <p>
                    <i class="icofont-download"></i>
                    <a href="https://pmkvyofficial.org/" target="_blank" class="a-style">Pradhan Mantri Kaushal Vikas Yojana (PMKVY)</a>
                </p>
                <p>
                    <i class="icofont-download"></i>
                    <a href="https://cssda.cg.nic.in" target="_blank" class="a-style">Mukhya Mantri Kaushal Vikas Yojana (MMKVY)</a>
                </p>
                <p>
                    <i class="icofont-download"></i>
                    <a href="~/pdf/sdis-guideline-ammendments1-11-09-2013-3.pdf" target="_blank" class="a-style">SDI Scheme Guidelines- 11.9.2013</a>
                </p>
                <p>
                    <i class="icofont-download"></i>
                    <a href="~/pdf/sdi-guidelines-13-05-2014-0.pdf" target="_blank" class="a-style">SDI Scheme Guidelines- 13.5.2014</a>
                </p>

            </div>

        </div>
    </div>

</section>

